* {
  box-sizing: border-box;
  margin: 0; }

header {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header img {
    margin-left: 10px; }
  header .menu {
    width: 56%;
    display: flex;
    justify-content: space-around; }
  @media (max-width: 768px) {
    header .menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 10px; } }
  header a {
    text-decoration: none;
    color: black;
    font-size: 20px; }
  header a:first-child {
    color: red; }
  header .us {
    margin-left: 10px;
    margin-right: 10px; }
    header .us p {
      color: #718389; }
    header .us a {
      text-decoration: none;
      color: #000; }
  header .call-us {
    display: flex; }
  @media (max-width: 768px) {
    header .call-us {
      display: flex;
      align-items: center;
      margin-top: 20px; } }

@media (max-width: 768px) {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }
.container {
  margin-top: 50px; }
  .container .main_img {
    width: 100%;
    height: 250px;
    background-image: url(../img/tow.jpg);
    background-position: center; }
  .container .contt {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex; }
    .container .contt .image {
      width: 100vw;
      height: 600px;
      background: url(../img/photo.jfif);
      background-repeat: no-repeat;
      background-position: center; }
    .container .contt .text {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      align-items: center;
      margin-left: 10px; }
      .container .contt .text h2 {
        font-family: 'Poppins', sans-serif;
        color: #10242b;
        font-size: 34px; }
      .container .contt .text p {
        font-family: 'Poppins', sans-serif; }
      .container .contt .text .icon {
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-left: 10px; }
        .container .contt .text .icon .happy {
          margin-left: 30px;
          position: relative; }
          .container .contt .text .icon .happy h3 {
            font-weight: bold; }
          .container .contt .text .icon .happy img {
            position: absolute;
            transform: translate(-135%, 0%); }

@media (max-width: 768px) {
  .contt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .contt .text {
      margin-top: 40px;
      width: 80%; }
      .contt .text h2 {
        margin: 0 auto; }
      .contt .text p {
        text-align: justify; }
      .contt .text .icon {
        margin-top: 40px; }
        .contt .text .icon .happy {
          padding-left: 40px; } }
@media (max-width: 454px) {
  .icon {
    flex-wrap: wrap; }
    .icon .happy {
      margin-top: 30px; } }
.satisfaction {
  width: 100%;
  height: 450px;
  background: #ebf1f6;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .satisfaction div {
    margin-top: 10px;
    width: 100%;
    text-align: center; }
    .satisfaction div h1 {
      font-size: 80px;
      color: #e9563d; }
    .satisfaction div h2 {
      font-family: 'Poppins', sans-serif;
      font-size: 40px; }
  .satisfaction p {
    width: 80%;
    text-align: center;
    color: #8c9499;
    font-family: 'Poppins', sans-serif;
    font-size: 20px; }
  .satisfaction .author .line {
    width: 100%;
    display: flex;
    justify-content: center; }
    .satisfaction .author .line span {
      border: 1px solid #000;
      width: 20px; }
  .satisfaction .author .name {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: bold; }

@media (max-width: 768px) {
  .satisfaction {
    margin-top: 50vh; } }
@media (max-width: 454px) {
  .satisfaction {
    margin-top: 70vh;
    height: 580px; } }
@media (max-width: 380px) {
  .satisfaction {
    margin-top: 80vh; } }
.mis-vis {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 13%; }
  .mis-vis .mision img {
    position: absolute;
    transform: translate(-150%, 30%);
    margin-left: 70px; }
  .mis-vis .mision h2 {
    font-size: 36px;
    font-family: "Poppins";
    color: #10242b;
    font-weight: bold;
    margin-left: 65px; }
  .mis-vis .mision p {
    position: relative;
    font-size: 15px;
    font-family: "Poppins";
    color: #5c666a;
    margin-left: 65px;
    margin-right: 20px; }
  .mis-vis .vision img {
    position: absolute;
    transform: translate(0%, 30%); }
  .mis-vis .vision h2 {
    font-size: 36px;
    font-family: "Poppins";
    color: #10242b;
    font-weight: bold;
    margin-left: 65px;
    margin-right: 20px; }
  .mis-vis .vision p {
    position: relative;
    font-size: 15px;
    font-family: "Poppins";
    color: #5c666a;
    margin-left: 70px; }

@media (max-width: 768px) {
  .mis-vis {
    flex-wrap: wrap;
    justify-content: center; }
    .mis-vis .mision {
      width: 60%; }
    .mis-vis .vision {
      margin-top: 40px;
      width: 60%; } }
.but {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 60px; }
  .but button {
    width: 150px;
    height: 50px;
    background: #67b930;
    border-radius: 5%;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-family: "Poppins"; }

.line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .line div {
    width: 100%;
    height: 1px;
    background: #dee6ec;
    margin-top: 100px;
    margin-bottom: 100px; }

.our_team h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif; }

.col {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 80px; }
  .col .box {
    width: 270px;
    height: 331px;
    margin: 10px;
    background: linear-gradient(to bottom, #9b9fa0, #304046); }

@media (max-width: 999px) {
  .col {
    display: flex;
    flex-wrap: wrap; }
    .col .box {
      margin: 50px; } }
footer {
  width: 100%;
  background: #000;
  display: grid;
  align-items: center;
  justify-content: center; }
  footer .container-footer {
    width: 100%;
    min-height: 528px;
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
    footer .container-footer .box-bottom {
      line-height: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
      margin-left: 27px; }
      footer .container-footer .box-bottom h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 24px;
        margin: 20px 0;
        color: #fff;
        padding-left: 1px; }
      footer .container-footer .box-bottom p {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin: 20px 0;
        color: grey; }
      footer .container-footer .box-bottom .fa-map-marker-alt {
        color: #fff;
        float: left;
        margin-right: 10px;
        padding-top: 9px;
        padding-left: 3px;
        padding-bottom: 25px; }
      footer .container-footer .box-bottom h5 {
        font-family: 'Poppins', sans-serif;
        color: #fff;
        padding-left: 25px;
        font-weight: 400;
        margin-right: 3px;
        margin-bottom: 3px; }
      footer .container-footer .box-bottom .link {
        text-decoration: none;
        color: grey;
        font-weight: 500;
        font-family: 'Poppins', sans-serif;
        padding-left: 7px; }
      footer .container-footer .box-bottom .link:hover {
        color: #3ab102; }
      footer .container-footer .box-bottom ul {
        margin: 0px -15px; }
      footer .container-footer .box-bottom ul li a {
        font-family: 'Poppins', sans-serif;
        color: gray;
        text-decoration: none; }
      footer .container-footer .box-bottom ul li a:hover {
        color: #3ab102;
        text-decoration: underline; }
      footer .container-footer .box-bottom .footer-form {
        border: none;
        background: #252525;
        width: 170px;
        height: 50px;
        padding-left: 45px; }
      footer .container-footer .box-bottom .fa-envelope {
        color: #3ab102;
        position: absolute;
        transform: translate(17px, 17px);
        z-index: 2; }
      footer .container-footer .box-bottom .btn-subscribe {
        width: 100px;
        height: 50px;
        border: none;
        background: #3ab102; }
      footer .container-footer .box-bottom .btn-subscribe:hover {
        transform: scale(0.9, 0.9); }
      footer .container-footer .box-bottom .btn-subscribe:active {
        transform: scale(0.8, 0.8); }
      footer .container-footer .box-bottom .social .fa-facebook-square {
        color: #3b5998;
        margin-right: 3px;
        padding-top: 15px; }
      footer .container-footer .box-bottom .social .fa-twitter-square {
        color: #00aced;
        margin-right: 3px;
        padding-top: 15px; }
      footer .container-footer .box-bottom .social .fa-google-plus-square {
        color: #dd4b39;
        margin-right: 3px;
        padding-top: 15px; }
      footer .container-footer .box-bottom .social .fa-facebook-square:hover {
        transform: scale(0.8, 0.8); }
      footer .container-footer .box-bottom .social .fa-twitter-square:hover {
        transform: scale(0.8, 0.8); }
      footer .container-footer .box-bottom .social .fa-google-plus-square:hover {
        transform: scale(0.8, 0.8); }
  footer .bottom-line {
    padding-bottom: 62px;
    width: 100%;
    height: 5px;
    border-top: 1px solid gray;
    display: flex;
    justify-content: center; }
    footer .bottom-line p {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 400;
      margin: 20px 0;
      color: grey; }
  @media all and (min-width: 1200px) {
    footer footer {
      width: 100%; }
    footer .container-footer {
      width: 100%; } }
  @media all and (max-width: 1199px) and (min-width: 992px) {
    footer .box-bottom {
      margin-right: 20px;
      margin-left: 8px; } }
  @media all and (max-width: 767px) and (min-width: 526px) {
    footer footer {
      width: 50%; }
    footer .container-footer {
      flex-direction: column;
      padding-left: 60px; } }
  @media all and (max-width: 526px) and (min-width: 300px) {
    footer footer {
      width: 20%; }
    footer .container-footer {
      width: 300px;
      flex-direction: column;
      padding-left: 60px; } }

@media (max-width: 768px) {
  footer {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
