* {
    box-sizing: border-box;
    margin: 0;
}
.conatainer{
    width: 1970px;
    display: flex;
    justify-content: center;
    }

    @media (max-width:768px){
        .conatainer{
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-left: -250px;
            }
    }
    @media (max-width:768px){
        header{
            display: flex;
            flex-direction: column;
        }
    }

header {
    margin-top: 10px;
    width: 1230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .menu {
        width: 50%;
        display: flex;
        justify-content: space-between;
        }
        @media (max-width: 768px){
            .menu {
                display: flex;
                flex-wrap: wrap;
            }
        }
        
        a {
            text-decoration: none;
            color: black;
            font-size: 20px;
        }
        a:first-child {
            color: red;
        }
    
    .us {
        margin-left: 10px; 
        margin-right: 10px;
        p {
            color: #718389;
        }
        a {
            text-decoration: none;
            color: #000;
        }
    }
    .call-us {
        display: flex;      
    }
    @media (max-width: 768px){
        .call-us {
            display: flex;
            align-items: center;
        }
    }
}
@media (max-width: 768px){
    header {
        display: flex;
        flex-wrap: wrap;
    }
}

section {
    .image {
        display: flex;
        align-items: center;
        span{
            padding-left: 375px;
            font-size: 52px;
            font-family: "Poppins";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 1.058;
            -moz-transform: matrix( 1.00026941026665,0,0,1.00194719214892,0,0);
            -webkit-transform: matrix( 1.00026941026665,0,0,1.00194719214892,0,0);
            -ms-transform: matrix( 1.00026941026665,0,0,1.00194719214892,0,0);

            @media (max-width: 768px){
                font-size: 26px;
            }
    
        }
        margin-top: 30px;
        width: 1970px;
        height: 250px;
        background-image: url("../img/image.png");
        @media (max-width: 768px){
            width: 768px;  
        }

    }
}
